<%- include("../partials/_info-modal.ejs") %>
<footer class="container">
	<hgroup>
		<p>
			<small>For use with Monster of the Week by Michael Sands.</small>
		</p>
		<p>
			<small
				>Monster of the Week is copyrighted by Evil Hat Productions, LLC
				and Generic Games.
			</small>
		</p>
	</hgroup>
</footer>
