<dialog id="info-modal">
  <article id="glossary">
    <div class="top-row">
      <h3>Monster Types</h3>
      <a href="#" id="close-modal"
        ><span class="material-symbols-outlined"> close_small </span></a
      >
    </div>
    <table>
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Motivation</th>
        </tr>
      </thead>
      <tbody>
        <% Glossary.monsterTypes.forEach((type)=>{ %>
        <tr>
          <th scope="row"><%= type.name %></th>
          <td><%= type.motivation %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </article>
</dialog>
