<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/_html-head.ejs", {title: "CRYPTIDEX"}) %>
  <body>
    <header><%- include('./partials/_nav-bar.ejs') %></header>
    <main>
      <article>
        <h1>Welcome to the CRYPTIDEX</h1>
        <p>a collection of monsters for mysteries</p>
      </article>
    </main>
    <footer><%- include("./partials/_footer.ejs") %></footer>
  </body>
</html>
