<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/_html-head.ejs", {title: "CRYPTIDEX"}) %>
  <body>
    <header><%- include('./partials/_nav-bar.ejs') %></header>
    <main>
      <article class="monster-card-show">
        <h1>Welcome to the CRYPTIDEX</h1>
        <p>a collection of monsters for mysteries</p>
        <img class="logo" src="/assets/images/image1.svg" alt="" />
      </article>
    </main>
    <footer><%- include("./partials/_footer.ejs", {Glossary}) %></footer>
  </body>
</html>
