<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/_html-head.ejs', {title: 'All monsters'}) %>
	<body>
		<header><%- include('../partials/_nav-bar.ejs') %></header>
		<main class="container">
			<h1>All Reported Monsters</h1>
			<div class="monsters-containter">
				<% monsters.forEach((monster) =>{ %> <%-
				include("../partials/_monster-card-index.ejs", {monster, user}) %>
				<% }) %>
			</div>
		</main>
		<%- include("../partials/_footer.ejs") %>
	</body>
</html>
