<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_html-head.ejs', {title: monster.name}) %>
  <body>
    <header><%- include('../partials/_nav-bar.ejs') %></header>
    <main><%- include("../partials/_monster-card-show.ejs") %></main>
  </body>
  <%- include("../partials/_footer.ejs") %>
</html>
